@charset "UTF-8";

body { font-family: "Times New Romans", serif; line-height: 1.5; font-size: 100%; }

h1, h2, h3, h4, h5, h6 { font-family: "Times New Romans", serif; font-weight: 900; line-height: 1.25; margin-top: 0em; margin-bottom: 0.3em; }

body { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.wrapper { max-width: -webkit-calc(1000px - (50px * 2)); max-width: calc(1000px - (50px * 2)); margin-right: auto; margin-left: auto; padding-right: 50px; padding-left: 50px; }

.left { float: left; }

.right { float: right; }

.site-header { border-bottom: 1px solid #e8e8e8; background-color: #fff; opacity: 0.95; position: fixed; left: 0px; top: 0px; width: 100%; z-index: 50; }

.site-title { font-size: 20px; line-height: 56px; letter-spacing: -1px; margin-bottom: 0; }

.site-nav { float: right; line-height: 56px; }
.site-nav .nav-trigger { display: none; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { line-height: 1.5; }
.site-nav .page-link:not(:first-child) { margin-left: 10px; }

.site { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; min-height: 100vh; }

.site-wrap { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; }

footer { background-color: #424242; border-top: thin solid #424242; color: #ccc; font-size: 0.75rem; font-weight: 300; padding: 0.5rem; position: fixed; left: 0px; bottom: 0px; width: 100%; }
footer a { color: #fff; }
footer a:hover { color: #790808; }

.page-content { padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */ }

.page-heading { font-size: 20px; }

.post-header { margin-bottom: 20px; }

.post-list { margin: 0; padding: 0; list-style: none; }
.post-list > li { border-bottom: 1px solid #ccc; padding-bottom: 2rem; padding-top: 2rem; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; margin-bottom: 10px; margin-top: 0;}

.post-content h2 { font-size: 42px; }
.post-content h3 { font-size: 30px; }
.post-content h4 { font-size: 20px; }

.post-meta { color: #828282; font-size: 0.875rem; margin-bottom: 0px; }

.post-link { display: block; font-size: 42px; }

.project { box-sizing: border-box; float: left; height: 250px; padding: 10px; vertical-align: middle; width: 33.33%; }
.project .thumbnail { overflow: hidden; height: 200px; width: 100%; }
.project .thumbnail img { height: auto; position: relative; left: -25%; top: -5%; width: 500px; }
.project .thumbnail a { float: left; height: 230px; position: relative; width: 100%; }
.project .thumbnail a span { display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0, 0, 0, 0.4); color: #e8e8e8; padding: 40px; text-align: center; }
.project .thumbnail a span h1 { font-size: 1.5rem; margin: 0; }
.project .thumbnail a span p { color: #e8e8e8; }
.project .thumbnail a:hover span { display: block; }

.profile img { width: 100%; }

.address { font-family: monospace; }
.address p { margin: 0; }

.news { border-top: 1px solid #e8e8e8; margin-top: 20px; padding-top: 20px; }
.news h2 { font-weight: bold; margin-top: 0; margin-bottom: 10px; }
.news table {border-collapse: collapse; width: 100%; }
.news table .date { width: 19%; }
.news table .announcement { width: 81%; }
.news table tr { text-align: left; }
.news table td { padding: 6px 0; vertical-align: top; border: none; }

.honors { border-top: 1px solid #e8e8e8; margin-top: 20px; padding-top: 20px; }
.honors h2 { font-weight: bold; margin-top: 0; margin-bottom: 10px; }
.honors table {border-collapse: collapse; width: 100%; }
.honors table .name { width: 80%; text-align: left;}
.honors table .date { width: 20%; text-align: center;}
/* .honors table tr { text-align: center;} */
.honors table td { padding: 6px 0; vertical-align: top; border: none; }

.social { text-align: left; }
.social .contact-icons { font-size: 2rem; }
.social .contact-icons a i::before { color: var(--global-text-color); -webkit-transition: all 0.2s ease-in-out; }
.social .contact-icons a:hover i::before { color: var(--global-theme-color); }
.social .contact-note { font-size: 0.8rem; }


.projects { border-top: 1px solid #e8e8e8; margin-top: 30px; padding-top: 20px; }

.publications h2 { color: #790808; font-size: 32px; margin-bottom: 30px; text-align: center; }

.blankbox { background: #790808; }

.img_row { height: 200px; width: 100%; overflow: hidden; box-sizing: border-box; }

.text_row { width: 100%; vertical-align: middle; }

.col { width: 100%; height: 100%; object-fit: cover; box-sizing: border-box; padding: 5px; }

.profile_img { margin-left: 5ex; width: 30.0%; }

.one { width: 33.3%; }

.two { width: 66.7%; }

.three { width: 100%; }

.caption { height: 100%; color: #aaa; text-align: center; vertical-align: middle; font-size: 12px; }

.gist, .gist .highlight .p { font-size: .75rem; }

.gist .lines { width: 100%; }

a { color: #333; text-decoration: none; }
a:hover { color: #790808; text-decoration: none; }

article a, .news a { color: #0000CD; font-weight: 100; }
article a:hover, .news a:hover { text-decoration: underline; }

.social a { color: #333; }
.social a:hover { color: #0000CD; }

.measure { margin: 0 auto; max-width: 42rem; }

html { font-size: 16px; }

body { color: #333; font-weight: 100; }

abbr { border-bottom: 1px black dotted; cursor: help; }

p { color: #333; line-height: 1.5; }

small, .small { font-size: 0.707rem; }

sup { position: relative; vertical-align: middle; top: -0.9ex; }

h1, h2, h3, h4, h5, h6 { font-weight: 100; }