@charset "UTF-8";

/* Colors */
.dark-gray { color: #333; }
.white { color: white; }
.blue { color: #2698BA; }
.mid-gray { color: #666; }
.light-gray { color: #ccc; }
.lighter-gray { color: #eee; }
.red { color: #FF3636; }
.green { color: #00ab37; }
.yellow { color: #efcc00; }
.orange { color: #F29105; }
.bg-dark-gray { background-color: #333; }
.bg-white { background-color: white; }
.bg-blue { background-color: #2698BA; }
.bg-mid-gray { background-color: #666; }
.bg-light-gray { background-color: #ccc; }
.bg-lighter-gray { background-color: #eee; }
.bg-red { background-color: #FF3636; }
.bg-green { background-color: #00ab37; }
.bg-yellow { background-color: #efcc00; }
.bg-orange { background-color: #F29105; }
.bg-darken-1 { background-color: rgba(0, 0, 0, 0.0625); }
.bg-darken-2 { background-color: rgba(0, 0, 0, 0.125); }
.bg-darken-3 { background-color: rgba(0, 0, 0, 0.25); }
.bg-darken-4 { background-color: rgba(0, 0, 0, 0.5); }

/* Page Setting */
.wrapper { max-width: -webkit-calc(1000px - (50px * 2)); max-width: calc(1000px - (50px * 2)); margin-right: auto; margin-left: auto; padding-right: 50px; padding-left: 50px; }
body { font-family: "Times New Romans", serif; line-height: 1.5; font-size: 100%; height: auto; min-height: 100%; -webkit-text-size-adjust: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 { font-family: "Times New Romans", serif; font-weight: 900; line-height: 1.25; margin-top: 1em; margin-bottom: .5em; font-weight: 100;}
h1, .h1 { font-size: 3rem; }
h2, .h2 { font-size: 1.5rem; }
h3, .h3 { font-size: 1.25rem; }
h4, .h4 { font-size: 1rem; }
h5, .h5 { font-size: 0.875rem; }
h6, .h6 { font-size: 0.75rem; }

a { color: #333; text-decoration: none; }
a:hover { color: #790808; text-decoration: none; }
article a, .news a { color: #0000CD; font-weight: 100; }
article a:hover, .news a:hover { text-decoration: underline; }

.left { float: left; }
.right { float: right; }

table { width: 100%; max-width: 100%; margin-bottom: 1.5; }
table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td { padding: 12px; line-height: 1.2; vertical-align: top; border-top: 1px solid #333; }
table > thead > tr > th { vertical-align: bottom; border-bottom: 2px solid #333; }
table > caption + thead > tr:first-child > th, table > caption + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > td, table > thead:first-child > tr:first-child > th, table > thead:first-child > tr:first-child > td { border-top: 0; }
table > tbody + tbody { border-top: 2px solid #333; }

.page-content { padding: 80px 0; }
.post-header { margin-bottom: 20px; }
.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; margin-bottom: 10px; margin-top: 0;}

.post-content h2 { font-size: 42px; }
.post-content h3 { font-size: 30px; }
.post-content h4 { font-size: 20px; }

.profile img { width: 100%; }
.img_row { height: 200px; width: 100%; overflow: hidden; box-sizing: border-box; }
.col { width: 100%; height: 100%; object-fit: cover; box-sizing: border-box; padding: 5px; }
.profile_img { margin-left: 5ex; width: 30.0%; }
.one { width: 33.3%; }
.two { width: 66.7%; }
.three { width: 100%; }

.social { text-align: left; }
.social .contact-icons { font-size: 2rem; }
/* .social .contact-icons a i::before { color: var(--global-text-color); -webkit-transition: all 0.2s ease-in-out; }
.social .contact-icons a:hover i::before { color: var(--global-theme-color); }
.social .contact-note { font-size: 0.8rem; } */
.social a { color: #333; }
.social a:hover { color: #0000CD; }

/* site-header */
.site-header { border-bottom: 1px solid #e8e8e8; background-color: #fff; opacity: 0.95; position: fixed; left: 0px; top: 0px; width: 100%; z-index: 50; }
.site-nav { float: right; line-height: 56px; }
.site-nav .nav-trigger { display: none; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { line-height: 1.5; }
.site-nav .page-link:not(:first-child) { margin-left: 10px; }
.site-wrap { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1 0 auto; flex: 1 0 auto; }

/* News */
.news { border-top: 1px solid #e8e8e8; margin-top: 20px; padding-top: 20px; }
.news h2 { font-weight: bold; margin-top: 0; margin-bottom: 10px; }
.news table {border-collapse: collapse; width: 100%; }
.news table .date { width: 19%; }
.news table .announcement { width: 81%; }
.news table tr { text-align: left; }
.news table td { padding: 6px 0; vertical-align: top; border: none; }

/* Projects */
.projects { border-top: 1px solid #e8e8e8; margin-top: 30px; padding-top: 20px; }

/* Honors */
.honors { border-top: 1px solid #e8e8e8; margin-top: 20px; padding-top: 20px; }
.honors h2 { font-weight: bold; margin-top: 0; margin-bottom: 10px; }
.honors table {border-collapse: collapse; width: 100%; }
.honors table .name { width: 80%; text-align: left;}
.honors table .date { width: 20%; text-align: center;}
.honors table td { padding: 6px 0; vertical-align: top; border: none; }

/* Foot */
footer { background-color: #424242; border-top: thin solid #424242; color: #ccc; font-size: 0.75rem; font-weight: 300; padding: 0.5rem; position: fixed; left: 0px; bottom: 0px; width: 100%; }
footer a { color: #fff; }
footer a:hover { color: #790808; }